#scoreboard-container {
  width: 135px;
  text-align: center;
}

.display-score {
  display: flex;
  width: 135px;
  justify-content: space-between;
}

#scoreboard-title {
  text-decoration: underline;
  padding-bottom: 0.25rem;
  color: #cf7397;
}
