html {
  --image-width: 5rem;
  --image-height: var(--image-width);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

header {
  padding: 0.5rem 0;
  height: 90.5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#header-left {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
}

#help-container {
  box-sizing: content-box;
  display: flex;
  height: 20px;
  position: relative;
  cursor: pointer;
  margin-top: 0.25rem;
  justify-content: center;
  align-items: center;
  color: #cf7397;
}

#logo {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  padding-right: 0.5rem;
  padding-top: 5px;
  align-self: baseline;
}

#header-right {
  margin-right: 2rem;
}

#app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image-container {
  display: grid;
  width: calc(var(--image-width) * 5.625);
  height: calc(var(--image-width) * 5.625);
  grid-template-columns: repeat(4, var(--image-width));
  grid-template-rows: repeat(4, var(--image-width));
  column-gap: calc(var(--image-width) / 2);
  row-gap: calc(var(--image-width) / 2);
}

.images {
  width: auto;
  height: auto;
}

svg {
  height: var(--image-height);
  width: var(--image-width);
}

.icon-btns:hover {
  background-color: #f9c9d4;
}

#help-icon {
  height: 18px;
  width: 18px;
  padding-right: 0.25rem;
}

button {
  border: none;
}

.toggle-modal {
  display: none;
}

#help-container:hover {
  border-bottom: 1px solid #cf7397;
}
